
 <div class ="container" id = "bgHome">

    <div class="hero-image">
        <div class="hero-text">
            <h2 class="sim">Hello!</h2>
            <h4>I am Harsimarjit Singh Badding</h4>
        </div>
    </div>
    <h4>Game Programmer , Web Developer</h4>
    <h2 class="motto" >Onwards and Upward</h2>
    <h4 class="motto_desc">I always strive to be the best in what ever situation that may arise!</h4>
    
</div>