
 <div class ="container">

    <h3>Hello!</h3>
    <p>I am Harsimarjit</p>
    <p>Game Programmer , Web Developer</p>
    <h2 class="p-heading" >Onwards and Upward</h2>
    <h4>I always strive to be the best in what ever situation that may arise!</h4>
</div>