/* custom css goes here */
body{
    height: 100%;
    background-color: #271736;
    color: rgb(255, 255, 255);
}
li{
    list-style: none;
    padding-top:1vh;
}

.sim {
    color:red;
}
#header{
    width: 100%;
    height: 100vh;

    background-size:cover;
    background-position: center;
}
#bgHome{

    height: 100vh;
}
.homeContent{
    padding-top : 10vh;
}
.motto{
    text-align: right;
}
.motto_desc{
    text-align: right;
}
#projectsContainer{
    padding :20px;
    margin : 3px;
    background-color: rgb(90, 90, 90);
    height: 100vh;
}
#projectsContainer:hover{
    background-color: rgb(139, 120, 209);
}
.projectTitle{
    text-align: center;
}
.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #080808;
}
.img-thumbnailServices {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.projectDesc{
    text-align: center;
    padding-top: 4px;
}
#servicesContainer{
    padding :20px;
    margin : 3px;
    background-color: rgb(90, 90, 90);
    height: 100vh;
}
#servicesContainer:hover{
    background-color: rgb(139, 120, 209);
}
.servicesTitle{
    text-align: center;
}
.servicesDesc{
    text-align: center;
    padding-top: 4px;
}

#aboutContainer{
    padding-top: 15vh;
    padding-bottom: 25vh;
}
#aboutInfo{
    background-color: rgb(90, 90, 90);
    padding-top: 7vh;
    margin-top : 5vh;
}

.page-headings{
    text-align: center;
    margin-top: 3vh;
    padding: 4vh;
}
#contactContain{
    padding-top : 8vh;
    padding-bottom: 35vh;
}
#bullet{
    padding-right: 5px;
}
#aboutPad{
    padding-top: 4vh;
}
#navBar{
    background-color: rgb(63, 48, 100);
    letter-spacing: 0.4vh;

}